.cards{
    border: 2px solid;
    width: 200px;
    padding: 20px;
    text-align: center;
    background-color: brown;
    color: white;
    border-radius: 20px;
}

.cards:hover{
    background-color: black;
    color: white;
    box-shadow: 0px 0px 10px 5px white;
    transition: 0.5s;
}

#uniq{
    background-color: yellow;

}

#uniq:hover{
    background-color: chocolate;
    color: white;
}

.parent{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;

    
}

body{
    background-color: lightcoral;
}